h1{
    color: white;
    text-align: center;
}

body {
  font-family: sans-serif;
  background: #000000;
  margin: 60px;
 
}

.grupo-sexo {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.sexo-label {
  margin-right: 20px;
}

.sexo-opciones {
  display: flex;
  gap: 40px;
}

.sexo-opciones label {
  display: flex;
  align-items: center;
  gap: 40px; 
}

form {
  display: flex;
  flex-direction: column;
  background: rgb(206, 238, 25);
  padding: 25px;
  max-width: 400px;
  margin: auto;
  border-radius: 10px;
}

label, p {
  display: block;
  margin: 10px 0;
  font-size: 16px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: none;
}

button {
    background-color: #1c6d16;
    color: white;
    padding: 10px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

#mensajeError {
  color: red;
  font-size: 0.9em;
}